.user-input {
  display: flex;
  border-style: solid;
  margin: 2rem auto;
  width: 30rem;
  flex-direction: column;
  align-items: left;
  border-radius: 5px;
}

.user-input input {
  border-radius: 2px;
  margin: auto 1rem;
  border-width: 1.2px;
  border-color: rgb(82, 80, 80);
}

.user-input label {
  margin: auto 1rem;
}
